.state-icon {
  left: -5px;
}

.var-selector li.list-group-item {
  text-align: left;
}

.list-group-item-primary {
  color: rgb(255, 255, 255);
  background-color: rgb(66, 139, 202);
}

th, td {
  padding: 3px;
}